body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.float {
    display: block;
    position: absolute;
}

.artwork{
    /* width: 1680px;
    height: 1050px; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid #FFFFFF;
}

.gameBoard {
    top: 0px;
    left: 0px;
    width: 1680px;
    height: 1050px;
    display: flex;
    justify-content: center;
    /* background-color: #111111; */
}
.uContainer {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: -125px;
}

.uWallLeft {
    width: 100px;
    height: 300px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 300px 300px 0 300px;
}

.uWallRight {
    width: 100px;
    height: 300px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 300px 300px 300px 0;
}

.uWallBottom {
    width: 700px;
    height: 100px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 0px;
}

/* GHOST -- START */
.ghost {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100px;
    height: 112px;
    z-index: 20;
    /* background-color: cyan; */
    flex-grow: 0;
}

.ghostHead {
    width: 100px;
    height: 112px;
    height: 112px;
    /* background-color: #FF0000; */
    border-radius: 100px 100px 0px 0px;
    /* transform: skew(-5deg); */
}
.ghostFace {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-left: 12px;
    /* background-color: #FF0000; */
}

.eyesContainer {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 20;
    /* margin-left: 10px; */
    /* background-color: yellow; */
}

.eye {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.pupil {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 22px;
    border-radius: 100px;
    background-color: #0000FF;
}

.mouth{
    display: flex;    
}

.lip {
    width: 10px;
    height: 10px;
}

.ghostBottom {
    width: 100px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    bottom: 0px;
    margin-top: 14px;
}

.ghostBalls {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    /* background-color: #FF0000; */
}

.blinky {
    background-color: #FF0000;
}

.pinky {
    background-color: #FFB8FF;
}

.inky {
    background-color: #00FFFF;
}

/* GHOST -- END */




.pacMan {
    width: 120px;
    height: 120px;
}

.pacManTop {
    width: 120px;
    height: 60px;
    background-color: #FFF000;
    border-radius: 200px 200px 0 0;
    transform: rotate(-18deg);
}

.pacManBottom {
    width: 120px;
    height: 60px;
    background-color: #FFF000;
    border-radius: 0 0 200px 200px;
    transform: rotate(18deg);
}

@media (min-aspect-ratio: 16/9) {
    .blinky {
        background-color: #0000FF;
    }
    
    .pinky {
        background-color: #0000FF;
    }
    
    .inky {
        background-color: #0000FF;
    }

    .ghost {
        justify-content: end;
    }

    .ghostHead {
        /* align-items: center;     */
        /* justify-content: flex-start; */
        /* background-color: #FF0000; */
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: end;
        border-radius: 100px 100px 0px 0px;
    }

    .eyesContainer {
        /* margin-right: 30px; */
        /* gap: 5%; */
    }

    .eye  {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        background-color: #FFFFFF;
    }

    .pupil {
        border-radius: 0;
        left: 5px;
        width: 15px;
        height: 15px;
        /* background-color: #FFFFFF; */
    }

    .ghostFace{
        margin-right: 12px;
    }

    .mouth{
        gap: 3px;    
    }

    .lip:nth-child(odd) {
        border-top: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        rotate: -45deg;
    }
    .lip:nth-child(even) {
        border-top: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        rotate: -45deg;
    }

    .pacManTop {
        transform: rotate(18deg);
    }
    
    .pacManBottom {
        transform: rotate(-18deg);
    }
}

/* @media screen and (min-width:300px) and (min-height: 600px) { */
    @media  (max-aspect-ratio: 3/4) {
        .artwork {
        flex-direction: column;
    }

    .ghostFace {
        margin-left: 0px;
    }

    .pupil {
        top: 20px;
        left: 13px;
    }
    
    .pacMan {
        width: 120px;
        height: 120px;
        display: flex;
    }

    .pacManTop {
        height: 120px;
        width: 60px;
        left: 36%;
        border-radius: 200px 0px 0 200px;
        transform: rotate(18deg);
    }
    
    .pacManBottom {
        height: 120px;
        width: 60px;
        left: 50%;
        border-radius: 0 200px 200px 0;
        transform: rotate(-18deg);
    }
}

@media screen and (min-width:480px) and (min-height: 320px) {
    .body {
        transform: scale(.5);
    }
}