body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}
.float {
    display: block;
    position: absolute;
}

.artwork{
    /* width: 1680px;
    height: 1050px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid #FFFFFF;
}

.gameBoard {
    top: 0px;
    left: 0px;
    width: 1680px;
    height: 1050px;
    display: flex;
    justify-content: center;
    /* background-color: #111111; */
}
.uContainer {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: -125px;
}

.uWallLeft {
    width: 100px;
    height: 300px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 300px 300px 0 300px;
}

.uWallRight {
    width: 100px;
    height: 300px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 300px 300px 300px 0;
}

.uWallBottom {
    width: 700px;
    height: 100px;
    border: 1px solid #0000FF;
    background-color: #0000FF;
    border-radius: 0px;
}

.ghost {
    width: 100px;
    height: 112px;
    z-index: 20;
    /* background-color: cyan; */
}

.ghostHead {
    width: 100px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #FF0000; */
    border-radius: 100px 100px 0px 0px;
    /* transform: skew(-5deg); */
}

.eyesContainer {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    /* background-color: yellow; */
}

.eye {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #FFFFFF;
}

.pupil {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    top: 15px;
    left: 22px;
    border-radius: 100px;
    background-color: #0000FF;
}

.ghostBottom {
    width: 100px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    bottom: 0px;
    /* background-color: aqua; */
    /* bottom: 100px; */
}

.ghostBalls {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    /* background-color: #FF0000; */
}

.blinky {
    background-color: #FF0000;
}

.pinky {
    background-color: #FFB8FF;
}

.inky {
    background-color: #00FFFF;
}



.pacManContainer {
    width: 120px;
    height: 120px;
}

.pacManTop {
    width: 120px;
    height: 60px;
    background-color: #FFF000;
    border-radius: 200px 200px 0 0;
    transform: rotate(-18deg);
}

.pacManBottom {
    width: 120px;
    height: 60px;
    background-color: #FFF000;
    border-radius: 0 0 200px 200px;
    transform: rotate(18deg);
}

@media screen and (min-width:1024px) and (min-height: 768px) {
    .blinky {
        background-color: #0000FF;
    }
    
    .pinky {
        background-color: #0000FF;
    }
    
    .inky {
        background-color: #0000FF;
    }

    .eye {
        border-radius: 10px;
    }

    .pupil {
        border-radius: 0;
        left: 5px;
        width: 15px;
        height: 15px;
        /* background-color: #FFFFFF; */
    }

    .eyesContainer {
        margin-right: 50px;
        /* background-color: yellow; */
    }
    .pacManTop {
        transform: rotate(18deg);
    }
    
    .pacManBottom {
        transform: rotate(-18deg);
    }
}

@media screen and (min-width:480px) and (min-height: 320px) {

}